.header-footer {
  background-color: lightgrey;
  padding: 20px 5px;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.container1 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container2 {
  display: flex;
  width: 75%;
  height: 100%;
  flex-wrap: wrap;
}
.box1 {
  width: 100%;
  height: 50%;
  background-color: red;
}
.box2 {
  width: 100%;
  height: 50%;
  background-color: orange;
}
.box3 {
  width: 25%;
  height: 100%;
  background-color: yellow;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container2 {
    width: 50%;
  }
  .box3 {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .container2 {
    width: 100%;
    height: 75%;
  }
  .box3 {
    width: 100%;
    height: 25%;
  }
}
