.header-footer {
  background-color: lightgrey;
  padding: 20px 5px;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.container1 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.box1 {
  width: 50%;
  height: 100%;
  background-color: rgb(79, 186, 79);
  order: 2;
}
.box2 {
  width: 25%;
  height: 100%;
  background-color: rgb(44, 103, 44);
  order: 1;
}
.box3 {
  width: 25%;
  height: 100%;
  background-color: yellow;
  order: 3;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .box1 {
    order: 1;
    width: 100%;
    height: 66.6%;
  }
  .box2 {
    order: 2;
    width: 50%;
    height: 33.33%;
  }
  .box3 {
    order: 3;
    width: 50%;
    height: 33.3%;
  }
}

@media screen and (max-width: 768px) {
  .box1 {
    order: 1;
    width: 100%;
    height: 50%;
  }
  .box2 {
    order: 2;
    width: 100%;
    height: 20%;
  }
  .box3 {
    order: 3;
    width: 100%;
    height: 30%;
  }
}
